# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Chris <goabonga@pm.me>

[defaults]
inventory = inventory.ini
host_key_checking = False
remote_user = debian
stdout_callback = yaml

[privilege_escalation]
become = True
