# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Chris <goabonga@pm.me>
# Managed by Ansible. GOA_NODE_ID matches an infra_node resource so the
# scheduler can place compute on this host; the agent realizes only its share.
GOA_STATE_DSN={{ state_dsn }}
GOA_KMS_KEY={{ lookup('file', kms_key_file) | trim }}
GOA_NODE_ID={{ inventory_hostname }}
