# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Chris <goabonga@pm.me>
# Managed by Ansible. The signing key is loaded from a file in the unit's
# ExecStart wrapper because it is multi-line PEM.
GOA_IDP_ADDR={{ idp_addr }}
GOA_IDP_ISSUER={{ idp_issuer }}
GOA_IDP_CLIENTS={{ idp_client_id }}:{{ lookup('file', idp_client_secret_file) | trim }}
