# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Chris <goabonga@pm.me>
# Managed by Ansible. The JWT public key is loaded from a file in the unit's
# ExecStart wrapper because it is multi-line PEM.
GOA_API_ADDR={{ api_addr }}
GOA_STATE_DSN={{ state_dsn }}
GOA_KMS_KEY={{ lookup('file', kms_key_file) | trim }}
GOA_API_JWT_ISSUER={{ idp_issuer }}
