# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Chris <goabonga@pm.me>
# Managed by Ansible. Shared by infra-controller-manager and infra-exporter.
GOA_STATE_DSN={{ state_dsn }}
GOA_EXPORTER_ADDR={{ exporter_addr }}
